{% extends 'base.html' %}

{% block content %}

    <div class="page_wrap">
        <div class="text-center">
            <img src="...." alt="Abum Cover" class="image" id="albumCover">
        </div>
        </div>

        <h1 id="songTitle"> Song Title</h1>
        <p id="songArtist"> Song Artist </p>
    </div>

    <style>
        .page_wrap
        {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            margin-right: auto;
            margin-left: auto;
            vertical-align: middle;

        }
        .image {
            box-shadow: 1px 1px 16px -2px rgba(0, 0, 0, .3);
            height: auto;
            max-width: 60vw;
            width: 100%;
            float: left;
        }
        h1 { 
            color: white;
            font-weight: bold;
        }
        p { 
            text-align: center;
            color: white;
        }
        body
        {
            text-align: center;
        }
    </style>


    <script>
        
        function requestData(){
            var requests = $.get('/spotifyData');
            var tm = requests.done(function (result)
            {
                if(result.playing){
                    document.getElementById("albumCover").src=result.songAlbumArt;
                    document.getElementById("songTitle").innerHTML = result.songTitle;
                    document.getElementById("songArtist").innerHTML = result.songArtist;
                    document.body.style.background = result.songBackgroundColor;
                }
                setTimeout(requestData, 10000);
            });
        }

        window.onload = function() {
            requestData();
        };

    </script>

{% endblock %}
